Sorting
===========

In [ ]:
There are two kinds of sorting available in pandas
1. By Label
2. By Actual value

By Label:
.sort_index(axis="0 or 1", ascending=True or False) # by default ascending is true

By value:
.sort_values(by="column name",axis="0 or 1", ascending=True or False) # by default ascending is true

In [1]:
import pandas as pd
df=pd.read_excel("D:\Learning\Data science\DATA\PythonSpreadSheet.xls",sheet_name=1)
print(df)

print("\n Pandas-renaming")

x=df.rename(index={3:11})
print(x)
print("\n Pandas-Sorting-Ascending")

sorted_df=x.sort_index() #Ascending in default is true
print(sorted_df)

print("\n Pandas-Sorting-Descending")

sorted_df=x.sort_index(axis=0,ascending=False) 
print(sorted_df)

          Name  Age  Salary Department  Experience  Gender
0      Sridevi   21   25000  Developer           1       0
1      Sathish   23   26000  Developer           2       1
2     Dhayalan   25   27000  Developer           3       1
3         Teja   27   28000  Developer           4       1
4         Rani   29   29000  Developer           5       0
5       Sundar   31   30000  Developer           6       1
6        Deepa   33   31000  Developer           7       0
7  Jeyalakshmi   35   32000  Developer           8       0
8       Prince   37   33000  Developer           9       1
9      Shanker   40   34000  Developer          10       1

 Pandas-renaming
           Name  Age  Salary Department  Experience  Gender
0       Sridevi   21   25000  Developer           1       0
1       Sathish   23   26000  Developer           2       1
2      Dhayalan   25   27000  Developer           3       1
11         Teja   27   28000  Developer           4       1
4          Rani   29   29000  Developer           5       0
5        Sundar   31   30000  Developer           6       1
6         Deepa   33   31000  Developer           7       0
7   Jeyalakshmi   35   32000  Developer           8       0
8        Prince   37   33000  Developer           9       1
9       Shanker   40   34000  Developer          10       1

 Pandas-Sorting-Ascending
           Name  Age  Salary Department  Experience  Gender
0       Sridevi   21   25000  Developer           1       0
1       Sathish   23   26000  Developer           2       1
2      Dhayalan   25   27000  Developer           3       1
4          Rani   29   29000  Developer           5       0
5        Sundar   31   30000  Developer           6       1
6         Deepa   33   31000  Developer           7       0
7   Jeyalakshmi   35   32000  Developer           8       0
8        Prince   37   33000  Developer           9       1
9       Shanker   40   34000  Developer          10       1
11         Teja   27   28000  Developer           4       1

 Pandas-Sorting-Descending
           Name  Age  Salary Department  Experience  Gender
11         Teja   27   28000  Developer           4       1
9       Shanker   40   34000  Developer          10       1
8        Prince   37   33000  Developer           9       1
7   Jeyalakshmi   35   32000  Developer           8       0
6         Deepa   33   31000  Developer           7       0
5        Sundar   31   30000  Developer           6       1
4          Rani   29   29000  Developer           5       0
2      Dhayalan   25   27000  Developer           3       1
1       Sathish   23   26000  Developer           2       1
0       Sridevi   21   25000  Developer           1       0

In [12]:
print("\nSorting columns ascending")
sorted_df=x.sort_index(axis=1,ascending=True) 
print(sorted_df)

print("\nSorting columns decending")
sorted_df=x.sort_index(axis=1,ascending=False) 
print(sorted_df)

Sorting columns ascending
    Age Department  Experience  Gender         Name  Salary
0    21  Developer           1       0      Sridevi   25000
1    23  Developer           2       1      Sathish   26000
2    25  Developer           3       1     Dhayalan   27000
11   27  Developer           4       1         Teja   28000
4    29  Developer           5       0         Rani   29000
5    31  Developer           6       1       Sundar   30000
6    33  Developer           7       0        Deepa   31000
7    35  Developer           8       0  Jeyalakshmi   32000
8    37  Developer           9       1       Prince   33000
9    40  Developer          10       1      Shanker   34000

Sorting columns decending
    Salary         Name  Gender  Experience Department  Age
0    25000      Sridevi       0           1  Developer   21
1    26000      Sathish       1           2  Developer   23
2    27000     Dhayalan       1           3  Developer   25
11   28000         Teja       1           4  Developer   27
4    29000         Rani       0           5  Developer   29
5    30000       Sundar       1           6  Developer   31
6    31000        Deepa       0           7  Developer   33
7    32000  Jeyalakshmi       0           8  Developer   35
8    33000       Prince       1           9  Developer   37
9    34000      Shanker       1          10  Developer   40

In [ ]:
By Value:
    * Like index sorting, sort_value() is the method for sorting by values.
    * It accepts a 'by' arguement which will use the column name of the Dataframe with which the vlaues are to be sorted.

In [2]:
print("\nSorting values ascending")
sorted_df=x.sort_values(by="Name",axis=0,ascending=True) 
print(sorted_df)

print("\nSorting values decending")
sorted_df=x.sort_values(by="Name",axis=0,ascending=False) 
print(sorted_df)

print("\nSorting values decending")
sorted_df=x.sort_values(by="Salary",axis=0,ascending=False) 
print(sorted_df)

Sorting values ascending
           Name  Age  Salary Department  Experience  Gender
6         Deepa   33   31000  Developer           7       0
2      Dhayalan   25   27000  Developer           3       1
7   Jeyalakshmi   35   32000  Developer           8       0
8        Prince   37   33000  Developer           9       1
4          Rani   29   29000  Developer           5       0
1       Sathish   23   26000  Developer           2       1
9       Shanker   40   34000  Developer          10       1
0       Sridevi   21   25000  Developer           1       0
5        Sundar   31   30000  Developer           6       1
11         Teja   27   28000  Developer           4       1

Sorting values decending
           Name  Age  Salary Department  Experience  Gender
11         Teja   27   28000  Developer           4       1
5        Sundar   31   30000  Developer           6       1
0       Sridevi   21   25000  Developer           1       0
9       Shanker   40   34000  Developer          10       1
1       Sathish   23   26000  Developer           2       1
4          Rani   29   29000  Developer           5       0
8        Prince   37   33000  Developer           9       1
7   Jeyalakshmi   35   32000  Developer           8       0
2      Dhayalan   25   27000  Developer           3       1
6         Deepa   33   31000  Developer           7       0

Sorting values decending
           Name  Age  Salary Department  Experience  Gender
9       Shanker   40   34000  Developer          10       1
8        Prince   37   33000  Developer           9       1
7   Jeyalakshmi   35   32000  Developer           8       0
6         Deepa   33   31000  Developer           7       0
5        Sundar   31   30000  Developer           6       1
4          Rani   29   29000  Developer           5       0
11         Teja   27   28000  Developer           4       1
2      Dhayalan   25   27000  Developer           3       1
1       Sathish   23   26000  Developer           2       1
0       Sridevi   21   25000  Developer           1       0