Working with text data
==================

1. lower() - converts strings to lower case
2. upper() - converts strings to upper case
3. len() - returns the length of the string
4. split(#charactor or string delimeter) - returns the list after splitting the string
5. cat(#charactor or string delimeter) - returns a single string of list by cancatenation using delimeter argument
6. get_dummies() - retruns encoded 0,1 values to all strings in the list
7. contains(#charactor or string) - returns boolean whether it matches
8. startswith(#charactor or string) - returns boolean whether it matches
9. endswith(#charactor or string) - returns boolean whether it matches
10. find(#charactor or string) - returns position of the first finding
11. findall(#charactor or string) - returns list of all findings
12. swapecase() - converts to opposite case
13. islower() - return boolean whether if all charactor in string is lower
14. isupper() - return boolean whether if all charactor in string is upper

In [1]:

import pandas as pd
df=pd.read_excel("D:\Learning\Data science\DATA\WorkingWithText.xlsx",sheet_name=0)
print(df)

print("\n lower")
print(df["Col1"].str.lower()) #Lower - converts string in the series/index to lower

           Col1  Col2
0          Tom      1
1  William Rick     2
2          John    33
3       Alber@t     4
4           NaN     5
5          1234     6
6    SteveSmith     7
7          RAJA     8
8          rani     9
9          rani    10

 lower
0            tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
7            raja
8            rani
9            rani
Name: Col1, dtype: object

In [5]:
print("\n upper")
print(df["Col1"].str.upper()) #upper - converts string in the series/index to upper

 upper
0            TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
7            RAJA
8            RANI
9            RANI
Name: Col1, dtype: object

In [6]:
print("\n Length")
print(df["Col1"].str.len()) #string length

 Length
0     4.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
7     4.0
8     4.0
9     4.0
Name: Col1, dtype: float64

In [8]:
print("\n Strip")

x=df["Col1"].str.len()
print(x,"\n after stripping") #strip string or trim string

y=df["Col1"].str.strip()
print(y.str.len())

 Strip
0     4.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
7     4.0
8     4.0
9     4.0
Name: Col1, dtype: float64
 after stripping
0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
7     4.0
8     4.0
9     4.0
Name: Col1, dtype: float64

In [11]:
print("split a string into list with charector/string delimeter")
print(df["Col1"].str.split(" "))
print(df["Col1"].str.split("ia"))

split a string into list with charector/string delimeter
0            [Tom, ]
1    [William, Rick]
2             [John]
3          [Alber@t]
4                NaN
5             [1234]
6       [SteveSmith]
7             [RAJA]
8             [rani]
9             [rani]
Name: Col1, dtype: object
0            [Tom ]
1    [Will, m Rick]
2            [John]
3         [Alber@t]
4               NaN
5            [1234]
6      [SteveSmith]
7            [RAJA]
8            [rani]
9            [rani]
Name: Col1, dtype: object

In [14]:
print("cancatenation")
print(df["Col1"].str.cat(sep=" "))
print(df["Col1"].str.cat(sep="-"))

cancatination
Tom  William Rick John Alber@t 1234 SteveSmith RAJA rani rani
Tom -William Rick-John-Alber@t-1234-SteveSmith-RAJA-rani-rani

In [16]:
#get_dummies() - Returns the dataframe with one-hot encoded values.

print(df["Col1"].str.get_dummies())

   1234  Alber@t  John  RAJA  SteveSmith  Tom   William Rick  rani
0     0        0     0     0           0     1             0     0
1     0        0     0     0           0     0             1     0
2     0        0     1     0           0     0             0     0
3     0        1     0     0           0     0             0     0
4     0        0     0     0           0     0             0     0
5     1        0     0     0           0     0             0     0
6     0        0     0     0           1     0             0     0
7     0        0     0     1           0     0             0     0
8     0        0     0     0           0     0             0     1
9     0        0     0     0           0     0             0     1

In [21]:
#contains 

print(df["Col1"].str.contains("a"))

0    False
1     True
2    False
3    False
4      NaN
5    False
6    False
7    False
8     True
9     True
Name: Col1, dtype: object

In [23]:
#Replace 

print(df["Col1"].str.replace("ni","ja"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            raja
9            raja
Name: Col1, dtype: object

In [24]:
#repeat

print(df["Col1"].str.repeat(2))

0                    Tom Tom
1    William RickWilliam Rick
2                    JohnJohn
3              Alber@tAlber@t
4                         NaN
5                    12341234
6        SteveSmithSteveSmith
7                    RAJARAJA
8                    ranirani
9                    ranirani
Name: Col1, dtype: object

In [26]:
#count
print(df["Col1"])

print(df["Col1"].str.count("i"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    0.0
1    3.0
2    0.0
3    0.0
4    NaN
5    0.0
6    1.0
7    0.0
8    1.0
9    1.0
Name: Col1, dtype: float64

In [29]:
#endswith
print(df["Col1"])

print(df["Col1"].str.endswith("r"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
7    False
8    False
9    False
Name: Col1, dtype: object

In [28]:
#startswith
print(df["Col1"])

print(df["Col1"].str.endswith("k"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    False
1     True
2    False
3    False
4      NaN
5    False
6    False
7    False
8    False
9    False
Name: Col1, dtype: object

In [30]:
#Find - first occurance position, if not available = -1

print(df["Col1"])

print(df["Col1"].str.find("i"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0   -1.0
1    1.0
2   -1.0
3   -1.0
4    NaN
5   -1.0
6    7.0
7   -1.0
8    3.0
9    3.0
Name: Col1, dtype: float64

In [31]:
#Findall - first occurance position

print(df["Col1"])

print(df["Col1"].str.findall("i"))

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0           []
1    [i, i, i]
2           []
3           []
4          NaN
5           []
6          [i]
7           []
8          [i]
9          [i]
Name: Col1, dtype: object

In [33]:
#Swapcase - convert upper case to lower case

print(df["Col1"])

print(df["Col1"].str.swapcase())

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0            tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
4             NaN
5            1234
6      sTEVEsMITH
7            raja
8            RANI
9            RANI
Name: Col1, dtype: object

In [34]:
#islower

print(df["Col1"])

print(df["Col1"].str.islower())

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
7    False
8     True
9     True
Name: Col1, dtype: object

In [35]:
#isupper

print(df["Col1"])

print(df["Col1"].str.isupper())

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
7     True
8    False
9    False
Name: Col1, dtype: object

In [36]:
#isnumeric

print(df["Col1"])

print(df["Col1"].str.isnumeric())

0            Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
7            RAJA
8            rani
9            rani
Name: Col1, dtype: object
0    False
1    False
2    False
3    False
4      NaN
5     True
6    False
7    False
8    False
9    False
Name: Col1, dtype: object